body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  .tabmenu{
      width:100%;
  }

  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 16%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Welcome {background-color: red;}
  #Register {background-color: #008CBA;}
  #Login {background-color: #4CAF50;}
  #About {background-color: orange;}
  #Settings {background-color: pink;}
  #Game {background-color: grey;}

  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .loginButton {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  
  .loginButton:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .registerButton {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }
  
  .registerButton:hover {
    background-color: #008CBA;
    color: white;
  }


