body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  #logo{
    margin: 0 auto;
    display: block;
    width:7%;
    border: 2px wheat dotted;
  }

  .header{
    background-color: #555;
  }

 
  .my-error-class {
    color:#FF0000;  /* red */
  }

  #result_case{
    display: none;
    font-size: 20px;
  }

  #loggedIn{
    text-decoration: underline;
    color: wheat; 
    float: right; 
    top: 5px; 
    left: 10px; 
    display: none;
  }

  .registerbtn{
    margin: 0 auto;
    display: block;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }

  .registerbtn:hover{
    background-color: #4CAF50;
    color: white;
  }

  .menu{
      width:100%;
      margin: 0 auto;
  }

  .container button {   
    background-color: #4CAF50;   
    width: 100%;  
     color: orange;   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
    }   
    form {   
        border: 3px solid #f1f1f1; 
        width: 40%;
        margin: 0 auto;
        background-color: lightblue;  
    }   
    input[type=text],input[type=email], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;   
    }
    
    select{
      border: 2px solid green;   
        box-sizing: border-box;  
    }
    
    .container button:hover {   
        opacity: 0.7;   
    }   
    .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 5px;  
    }   
        
    
    .container {   
        padding: 25px;   
        background-color: lightblue;  
    }   

  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Welcome {background-color: red;}
  #Register {background-color: #008CBA;}
  #Login {background-color: #4CAF50;}
  #About {background-color: orange;}
  #Settings {background-color: pink;}
  #Game {background-color: grey;}

  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .loginButton {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  
  .loginButton:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .registerButton {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }
  
  .registerButton:hover {
    background-color: #008CBA;
    color: white;
  }

  .gameStart {
    background-color: white;
    color: black;
    /* border: 2px solid #008CBA; */
  }
  
  .gameStart:hover {
    background-color: yellow;
    color: black;
  }


  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gainsboro;
    color: black;
    text-align: center;
    opacity: 0.7;
  }

  .contact_links{
    color: black;
    text-decoration: none;
    font-size: 12px;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content p{
    color: red;
  }

  #mini_settings{
    float: right;
    color: black;
    width: 18%;
    border:2px wheat dotted;
  }

  #gameCanvas{
    float: left;
    width: 80%;
  }

  #canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  }

  #time{
    width: 30%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }


  #score{
    width: 30%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .container{
    padding: 15px;
  }
  SELECT{
    padding: 5px;
  }
  input.date{
    width:50px;
    padding: 5px;
  }